/* =================== */
/*     * * * * * *     */
/* =================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: radial-gradient(white, rgb(100, 1, 100));
  font-family: monospace;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  margin: 4em auto;
  width: 45em;
  padding: 10px;
  padding-bottom: 13px;
  background: #afaea1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 18px;
  flex-basis: 100%;
}

.display-container {
  background: #a2a1af;
  padding: 8px;
  border: 3px solid black;
  border-radius: 11px;
  overflow: hidden;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.top-display {
  font-size: 18px;
  margin-bottom: 5px;
  height: 1em;
}

.main-display {
  font-size: 38px;
  font-weight: 500;
  height: 1.25em;
}

.display {
  text-align: end;
  padding-right: 10px;
  width: 100%;
}

/* =================== */
/*     * * * * * *     */
/* =================== */

.btn-container {
  display: grid;
  height: min-content;
  gap: 9px;
  margin-top: 1em;
}

.btn {
  height: 47px;
  font-size: 1.75em;
  background: #c8c7cf;
  border: 3px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn:active {
  transform: translateY(0.06em);
}

.btn2 {
  padding: 4px 0;
}

.row {
  display: grid;
  gap: 8px;
}

.row1 {
  grid-template-columns: 1fr 1fr;
}

.row2,
.row3,
.row4,
.row5 {
  grid-template-columns: repeat(4, 1fr);
}
